{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Visualizing map</title>
    <!--- Link to the last version of BabylonJS --->
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <style>
        html, body {
            overflow: hidden;
            width   : 100%;
            height  : 100%;
            margin  : 0;
            padding : 0;
        }

        #renderCanvas {
            width   : 100%;
            height  : 100%;
            touch-action: none;
        }
    </style>
</head>
<body>
    <canvas id="renderCanvas"></canvas>
    <script>
        window.addEventListener('DOMContentLoaded', function(){
            // get the canvas DOM element
            var canvas = document.getElementById('renderCanvas');

            // load the 3D engine
            var engine = new BABYLON.Engine(canvas, true);

            // createScene function that creates and return the scene
            var createScene = function () {
                var scene = new BABYLON.Scene(engine);
                scene.clearColor = new BABYLON.Color3(.5, .5, .5);

                // camera
                var camera = new BABYLON.ArcRotateCamera("camera1", 0, 0, 0, new BABYLON.Vector3(0, 0, -0), scene);
                camera.setPosition(new BABYLON.Vector3(0, 0, -20));
                camera.attachControl(canvas, true);

                var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);
                light.intensity = 0.7;

                var pl = new BABYLON.PointLight("pl", BABYLON.Vector3.Zero(), scene);
                pl.intensity = 0.5;

                var mat = new BABYLON.StandardMaterial("mat", scene);
                
                var texture = new BABYLON.Texture("{% static 'spritesheet.png' %}", scene);
                mat.diffuseTexture = texture;

                var columns = 7;  // 6 columns
                var rows = 1;  // 4 rows

                var faceUV = new Array(7);

                for (var i = 0; i < 7; i++) {
                    faceUV[i] = new BABYLON.Vector4(i / columns, 0, (i + 1) / columns, 1 / rows);
                }

                var options = {
                    width: 10,
                    height: 3,
                    depth: 5,
                    faceUV: faceUV
                };

                // var box = BABYLON.MeshBuilder.CreateBox('box', options, scene);
                var box = BABYLON.MeshBuilder.CreatePolyhedron("oct", {type: 6, size: 3, faceUV: faceUV}, scene);
                box.material = mat;

                scene.registerBeforeRender(function () {
                    pl.position = camera.position;
                });

                return scene;
            };


            // call the createScene function
            var scene = createScene();

            // run the render loop
            engine.runRenderLoop(function(){
                scene.render();
            });

            // the canvas/window resize event handler
            window.addEventListener('resize', function(){
                engine.resize();
            });
        });
    </script>
</body>
</html>